@page
@model InventorySystem.Pages.ProductsInChainModel
@{
}

<div class="container row p-0 m-0">
    <div class="col-9">
        <h1 class="text-primary" style="font-weight:bold;font-size: 40px">Products in chain</h1>
    </div><br />

    @foreach(var branchProductViewModel in Model.BranchProducts)
    {
        <br /><div class="col-9">
           <br /> <h3 class="text" style="font-weight:bold">@branchProductViewModel.Branch.Name</h3>
        </div>
        <div class="col-12 border p-3 mt-3">
            <div class="col-12 border p-2 mt-3 d-flex justify-content-between" style="font-size: 20px">
                <div>
                    Sort by:
                    <a asp-page="./ProductsInChain" asp-route-sortOrder="name">Product Name</a> |
                    <a asp-page="./ProductsInChain" asp-route-sortOrder="number">Catalog Number</a>
                </div>
            </div>

            <table class="table table-striped border " style="width:100%">
                <thead>
                    <tr>
                        <th>Catalog Number</th>
                        <th>Product Name</th>
                        <th>Description</th>
                        <th>Quantity</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var product in branchProductViewModel.Products)
                    {
                        <tr>
                            <td>@product.ProductId</td>
                            <td>@product.Name</td>
                            <td>@product.Description</td>
                            <td>@product.Quantity</td>
                            <td>@product.PriceCustomer</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div> <br />

        
    }
    <div class="text-center">
      <br />  <a href="/MainPage" class="btn btn-dark btn-lg">Back</a>
    </div>


</div>