@page
@model InventorySystem.Pages.SaleModel
@{
    var message = ViewData["Message"]?.ToString();
}
<div class="container row p-0 m-0">
    <div class="col-9">
        <h1 class="text-primary" style="font-weight:bold">Sale simulation</h1>
    </div>
    <div class="col-12 border p-2 mt-3 d-flex justify-content-end" style="font-size: 20px">
        
        <form method="post" class="searchForm">
            <span class="btn-group">
                <input type="text" name="searchString" placeholder="Search Key" />
                <input class="p-1 m-lg-1 btn btn-sm btn-danger" style="border-radius:10px; font-size: 20px; padding: 10px 20px;"
                       type="submit" value="Search" />
            </span>
        </form>
    </div>
    <div class="col-12 border p-3 mt-3">
        <form method="post" asp-page-handler="UpdateQuantities">
            @if (!string.IsNullOrWhiteSpace(message))
            {
                <div class=" alert alert-success" role="alert">
                    @message
                </div>
            }
            <table class="table table-striped border" style="width:100%">
                <thead>
                    <tr>
                        <th>Catalog Number</th>
                        <th>Product Name</th>
                        <th>Description</th>
                        <th>Quantity in stock</th>
                        <th>Quantity</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var product in Model.Products)
                    {
                        <tr>
                            <td>@product.ProductId</td>
                            <td>@product.Name</td>
                            <td>@product.Description</td>
                            <td>@product.Quantity</td>
                            <td>
                                <div class="input-group quantity">
                                    <input type="number" class="form-control text-center" value="0" min="0" max="@product.Quantity" name="quantity[@product.Id]">
                                </div>
                            </td>
                            <td>@product.PriceCustomer</td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="d-flex justify-content-between">
                <button type="submit" class="btn btn-primary">Make Sale</button>
                <a href="/MainPage" class="btn btn-dark btn-lg">Back</a>
            </div>

        </form>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        function openAlert(strMessage){
            var myDiv = document.getElementById("ThresholdAlertBody");
            myDiv.innerHTML=strMessage;
            $('#ThresholdAlert').modal('show');
        }

        $(document).ready(function()
        {
            var msg = "@TempData["StockAlert"]";
            if(msg)
                openAlert(msg);
        });
        </script>
}